[submodule "ardupilot"]
	path = ardupilot
	url = https://github.com/ArduPilot/ardupilot.git
[submodule "ros2_ws/src/ardupilot_gazebo"]
	path = ros2_ws/src/ardupilot_gazebo
	url = https://github.com/ArduPilot/ardupilot_gazebo.git
